<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Resultado</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h1>Outro</h1>
</body>
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
</html>